* {
  margin: 0;
  padding: 0;
}

#header {
  background-image: url("../styles/images/background.png");
  width: 100%;
  color: white;
  height: 900px;
  width: 100%;
  display: flex;
}

.begin {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  width: 85%;
  margin: auto;
  margin-top: 300px;
}

h2 {
  /* height: 114px; */
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
}

h4 {
  height: 120px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}

#task {
  background-color: #252B42;
  height: 1600px;
  width: 100%;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px;
  width: 85%;
  margin: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 0px;
  text-align: center;
  gap: 10px;
}

.vector {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px 40px;
  gap: 15px;
  background-color: white;
  color: black;
}

.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 30px;
}

.fa-solid {
  color: #00A0C1;
  font-size: 30px;
}

p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

#expert,
.expert {
  width: 100%;
  height: 850px;
  background-color: #252B42;
  color: white;
}

.content2 {
  padding-bottom: 65%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 45px 0px; */
  text-align: center;
  gap: 10px;
}

.expert {
  background-color: rgba(40, 128, 55, 0.233);
  height: 50%;
  margin-top: -100px;
}

.meeting {
  background-image: url("../styles/images/coverD.jpg");
  background-position: center;
  background-size: cover; 
  min-height: 442px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  max-width: 100%;
  margin: auto;
  position: absolute;
  margin-left:10%;
  width: 80%;
  margin-top: -100px;
}

#testimonials {
  background-color: #252B42;
  height: 200px;
  display: flex;
  
}



/* .pict{
display: flex;
flex-direction: row;
align-items: center;
padding: 34.8px 36.8px;
}
 */